params {
    // Input options
    reads = "reads_paths.tsv"
    outdir = "results"
    publish_dir_mode = "copy"

    //Assembly
    spades_options = null
    spades_fix_cpus = -1
}

includeConfig 'conf/base.config'

docker {
    enabled = true
}

docker.registry = 'quay.io'

// Capture execution reports
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

// Capture execution timeline
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

// Capture task resource consumption
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

manifest {
    name = "holobionts/genome-annotation"
    description = "QC, Assembly and Functional annotation of bacterial genomes"
    version = "0.1"
    nextflowVersion = "!>=24.04.2"
    homePage = "https://github.com/HolobiontResearch/genome-annotation"
}


includeConfig 'conf/modules.config'	
